.App {
  text-align: center;
  color: pink;
  
}



.giphyItem {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0 1.5em;
  padding: 1em;

}

.giphyItem img {
  width: 100%;
}

.giphyList {
  column-gap: .5em;
  margin: 1em 0;
  padding: 75px;
}

/* loading */
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframesgit  lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

/* Extra small devices(phone) */
@media only screen and (max-width: 600px) {
  .giphyList {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
  }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 600px) {
  .giphyList {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
  }
}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) {
  .giphyList {
      -moz-column-count: 4;
      -webkit-column-count: 4;
      column-count: 4;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .giphyList {
      -moz-column-count: 5;
      -webkit-column-count: 5;
      column-count: 5;
  }
}

